.topbar {
    float:right;
    display:inline-block;
    display: flex;
    vertical-align:center;
}
body {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
}
header {
    border-bottom: 1px solid #999;
    margin-bottom: 2rem;
}
.btn {
    margin-right: 2px;
    margin-left: 2px;
}
body {
    background: rgb(251,255,0);
    background: linear-gradient(0deg, rgba(251,255,0,1) 0%, rgba(30,194,2,1) 100%);
    background-attachment: fixed;
}
.main {
    background: #ffffff;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
}
