<!-- _layouts/default.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ page.title | default: "Themadpunter's Hideout" }}</title>
    <link rel="icon" href="/themadpunter.png">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <meta name="description" content="The website of Themadpunter, a game developer, indie artist, and composer.">
    <meta name="keywords" content="Themadpunter, Themadpunter Studios, indie games, game dev, game developer, solo dev, music, experimental, buy me a coffee, themadpunter10">
    <meta name="author" content="Themadpunter">

    <meta property="og:title" content="Themadpunter's Hideout">
    <meta property="og:description" content="Themadpunter's super cool and awesome personal website, with indie games, music, and more">
    <meta property="og:image" content="https://themadpunter.tech/themadpunter.png">
    <meta property="og:url" content="https://themadpunter.tech">
    <meta property="og:type" content="website">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Themadpunter's Hideout">
    <meta name="twitter:description" content="Themadpunter's super cool and awesome personal website, with indie games, music, and more">
    <meta name="twitter:image" content="https://themadpunter.tech/themadpunter.png">

    <link rel="canonical" href="https://themadpunter.tech">

    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Person",
      "name": "Themadpunter's Hideout",
      "url": "https://themadpunter.tech",
      "logo": "https://themadpunter.tech/themadpunter.png",
      "sameAs": [
        "https://themadpunter.itch.io",
        "https://themadpunter.newgrounds.com",
        "https://gamejolt.com/@themadpunter",
        "https://youtube.com/@the_mad_punter",
        "https://discord.gg/cfvJyFPWUH",
        "https://scratch.mit.edu/users/The_Mad_Punter",
        "https://twitch.tv/themadpunter10",
        "https://x.com/@Themadpunter10",
        "https://bsky.app/profile/themadpunter.tech"
      ]
    }
    </script>

    <link rel="stylesheet" href="/bootstrap.min.css">
    <script src="/jquery.min.js"></script>
    <script src="/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/main.css">


    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5451409295336585" crossorigin="anonymous"></script>
</head>
<body>
    <script data-name="BMC-Widget" data-cfasync="false" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" data-id="themadpunter" data-description="Support me on Buy me a coffee!" data-message="IM BROKE GIVE ME MONEY plz :3" data-color="#40DCA5" data-position="Right" data-x_margin="18" data-y_margin="18"></script>
    <div class="main">
        <header>
            <nav>
                <a class="btn btn-primary" href="/index.html">Home</a>
                <a class="btn btn-primary" href="/games.html">Games</a>
                <a class="btn btn-primary" href="/music.html">Music</a>
                <a class="btn btn-primary" href="/logbook.html">Logbook</a>
                <a class="btn btn-primary" href="/contact.html">Contact Me</a>
            </nav>

            <h1>Themadpunter's Hideout'</h1>
        </header>

        <main>
            {{ content }}
        </main>

        <footer>
            <p>
                Like my work? <a href="https://buymeacoffee.com/themadpunter">Buy Me a Coffee</a> or send me some Polygon POL: 0x7cd68AcB85A85eF5c6eBA3F35aae953dc29b141a or Monero XMR: 45uuPNhHDxAKKXyeCeewjJBj3Zf79jUiJU3nsujLnvJGFC2C6LBJoLDYB6D8nw8R1XgPar982g2bkYPJM9ZiYNSWEo3QK2b
            </p>
            <br><br>
            <iframe src="https://discord.com/widget?id=1287051182308724776&theme=dark" width="300rem" height="400rem" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
            <br><br>
            <small>
                <a href="https://themadpunter.itch.io">Itch</a> 
                <a href="https://themadpunter.newgrounds.com">Newgrounds</a> 
                <a href="https://gamejolt.com/@themadpunter">GameJolt</a> 
                <a href="https://youtube.com/@the_mad_punter">YouTube</a> 
                <a href="https://discord.gg/cfvJyFPWUH">Discord</a> 
                <a href="https://scratch.mit.edu/users/The_Mad_Punter">Scratch</a> 
                <a href="https://twitch.tv/themadpunter10">Twitch</a>
                <a href="https://x.com/@Themadpunter10">X / Twitter</a>
                <a href="https://bsky.app/profile/themadpunter.tech">Bluesky</a>
                <p>&copy 2025 Themadpunter Studios</p>
            </small>
        </footer>
    </div>
</body>
</html>
