<!-- _layouts/default.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ page.title | default: "Themadpunter's Site" }}</title>
    <link rel="icon" href="/themadpunter.png">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <meta name="description" content="The website of Themadpunter, a game developer, indie artist, and composer.">
    <meta name="keywords" content="Themadpunter, Themadpunter Studios, indie games, game dev, game developer, solo dev, music, experimental, buy me a coffee, themadpunter10">
    <meta name="author" content="Themadpunter">

    <meta property="og:title" content="Themadpunter's Hideout">
    <meta property="og:description" content="Themadpunter's super cool and awesome personal website, with indie games, music, and more">
    <meta property="og:image" content="https://themadpunter.tech/themadpunter.png">
    <meta property="og:url" content="https://themadpunter.tech">
    <meta property="og:type" content="website">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Themadpunter's Hideout">
    <meta name="twitter:description" content="Themadpunter's super cool and awesome personal website, with indie games, music, and more">
    <meta name="twitter:image" content="https://themadpunter.tech/themadpunter.png">

    <link rel="canonical" href="https://themadpunter.tech">

    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Person",
      "name": "Themadpunter's Site",
      "url": "https://themadpunter.tech",
      "logo": "https://themadpunter.tech/themadpunter.png",
      "sameAs": [
        "https://themadpunter.itch.io",
        "https://themadpunter.newgrounds.com",
        "https://gamejolt.com/@themadpunter",
        "https://youtube.com/@the_mad_punter",
        "https://discord.gg/cfvJyFPWUH",
        "https://scratch.mit.edu/users/The_Mad_Punter",
        "https://twitch.tv/themadpunter10",
        "https://x.com/@Themadpunter10",
        "https://bsky.app/profile/themadpunter.tech"
      ]
    }
    </script>

    <link rel="stylesheet" href="/bootstrap.min.css">
    <script src="/jquery.min.js"></script>
    <script src="/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/main.css">
    <link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml">


    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5451409295336585" crossorigin="anonymous"></script>
</head>
<body>
    <div class="main">
        <nav>
            <a href="/">Home</a>
            <a href="/games.html">Games</a>
            <a href="/music.html">Music</a>
            <a href="/contact.html">Contact</a>
            <a href="/blog.html">Blog</a>
        </nav>

        <main>
            {{ content }}
        </main>
        <br>

        <footer>
            <small>
                <a href="https://linktr.ee/themadpunter">Linktree</a>
                <a href="https://themadpunter.itch.io">Itch</a> 
                <a href="https://themadpunter.newgrounds.com">Newgrounds</a> 
                <a href="https://gamejolt.com/@themadpunter">GameJolt</a> 
                <a href="https://youtube.com/@the_mad_punter">YouTube</a> 
                <a href="https://discord.gg/cfvJyFPWUH">Discord</a> 
                <a href="https://scratch.mit.edu/users/The_Mad_Punter">Scratch</a> 
                <a href="https://twitch.tv/themadpunter10">Twitch</a>
                <a href="https://x.com/@Themadpunter10">X / Twitter</a>
                <a href="https://bsky.app/profile/themadpunter.tech">Bluesky</a>
                <p>&copy 2026 Themadpunter</p>
            </small>
        </footer>
    </div>
</body>
</html>
