<!-- _layouts/default.html -->
<!DOCTYPE html>
<html>
<head>
    <title>{{ page.title | default: "Themadpunter Studios" }}</title>
    <link rel="icon" href="/themadpunter.png">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/bootstrap.min.css">
    <script src="/jquery.min.js"></script>
    <script src="/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/main.css">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5451409295336585" crossorigin="anonymous"></script>
</head>
<body>
    <div class="main">
        <header>
            <nav>
                <a class="btn btn-primary" href="index.html">Home</a>
                <a class="btn btn-primary" href="games.html">Games</a>
                <a class="btn btn-primary" href="music.html">Music</a>
            </nav>

            <h1>Themadpunter Studios</h1>
        </header>

        <main>
            {{ content }}
        </main>

        <footer>
            <p>
                Like my work? <a href="https://buymeacoffee.com/themadpunter">Buy Me a Coffee</a> or send me some Polygon POL: 0x7cd68AcB85A85eF5c6eBA3F35aae953dc29b141a
            </p>
            <br><br>
            <iframe src="https://discord.com/widget?id=1287051182308724776&theme=dark" width="300rem" height="400rem" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
            <br><br>
            <small>
                <a href="https://themadpunter.itch.io">Itch</a> 
                <a href="https://themadpunter.newgrounds.com">Newgrounds</a> 
                <a href="https://gamejolt.com/@themadpunter">GameJolt</a> 
                <a href="https://youtube.com/@the_mad_punter">YouTube</a> 
                <a href="https://discord.gg/cfvJyFPWUH">Discord</a> 
                <a href="https://scratch.mit.edu/users/The_Mad_Punter">Scratch</a> 
                <a href="https://twitch.tv/themadpunter10">Twitch</a> 
                <a href="https://bsky.app/profile/themadpunter.tech">Bluesky</a>
                <p>&copy 2024 Themadpunter Studios</p>
            </small>
        </footer>
    </div>
</body>
</html>
